.square{
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
}
.boardRow{
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
}
.game{
    display: flex;
    justify-content: center;
}
.gameBoard{
    margin: auto;
}
.gameInfo{
    font-family: Arial, Helvetica, sans-serif;
}