.layoutContainer{
    width: 80%;

    padding: 5%;
    margin: 0 auto;
    background-color: aquamarine;
}

.footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}