@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-image: url('https://images7.alphacoders.com/888/888540.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}